---
import Layout from '../layouts/Layout.astro';
---

<Layout client:load title='Braud toastbar'>
    <main>
      <div class='mainimage'>
          <a href='/takeaway'>Bestill takeaway</a>
      </div>
      <div id='heading' class='element'>
        <h1>Braud toastbar ligger på Løkka, mellom Olaf Ryes plass og Birkelunden.</h1>
      </div>
      <div id='heading_image' class='element'>
        <img src='images/header.jpg' alt='header' style='height: 100%; width: 100%; object-fit: cover; object-position: 50% 100%;'>
      </div>
      <div class='subgrid reverse'>
        <div class='element'>
          <img src='images/pic1.jpg' alt='pic1' style='height: 100%; width: 100%; object-fit: contain'>
        </div>
        <div class='element'>
          <p>I konseptet har vi blant annet hentet inspirasjon fra Københavns mange toastbarer. Vi er lidenskapelig opptatte av å finne og utvikle toastens mange muligheter, alt fra en åpen avokadotoast med posjert egg til «ostete» toaster med comte, cheddar og buoncotto.</p>
        </div>
      </div>
      <div class='subgrid'>
        <div class='element'>
          <img src='images/pic2.jpg' alt='pic2' style='height: 100%; width: 100%; object-fit: contain'>
        </div>
        <div class='element'>
          <p>Til våre toaster serverer vi blant annet egenprodusert lemonade, øl og utvalgte viner, og selvfølgelig kaffe i alle varianter. I lokalet har lokale billedkunstnere dekorert veggene. Et sted for opplevelse og formidling av lokal kunst og kultur.</p>
        </div>
      </div>
    </main>
</Layout>

<style>
.mainimage {
  background: url('images/braudfasade.jpg') left;
  background-size: cover;
  height: min(calc(100vh - 250px),60vw);
  padding: 4rem 2rem;
  display: grid;
  align-items: end;
  justify-items: end;
}

.mainimage > a {
  padding: 1rem;
  margin-top: .75rem;
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  border: 2px solid white;
}

@media (hover) {
    .mainimage > a:hover {
        opacity: .6;
    }
}

.element {
    margin: 15px;
}
.element p {
    font-size: clamp(1rem, 4.5vw, 32px);
}
#heading_image{
    height: 90vh;
}

#heading{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#heading > h1 {
    font-size: clamp(1rem, 8vw, 70px);
}
.subgrid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
}
.reverse {
    direction: rtl;
}
.reverse > * {
    direction: ltr;
}
</style>
