---
import Layout from '../layouts/Layout.astro';
import { MyGallery } from '../components/ImageGallery'
import 'react-image-gallery/styles/css/image-gallery.css'

const images = [
  {
    original: 'https://picsum.photos/id/1018/1000/600/',
    thumbnail: 'https://picsum.photos/id/1018/250/150/',
  },
  {
    original: 'https://picsum.photos/id/1015/1000/600/',
    thumbnail: 'https://picsum.photos/id/1015/250/150/',
  },
  {
    original: 'https://picsum.photos/id/1019/1000/600/',
    thumbnail: 'https://picsum.photos/id/1019/250/150/',
  },
];
---

<Layout client:load title="Braud toastbar">
    <main>
    <section>Ønsker du å leie Braud toastbar til dine arrangementer? Bursdag, vennefest, bedriftsarrangement, julebord?</section>

    <section>Lokalet kan lukkes eksklusivt for deres gjester.</section>

    <section>
        Vi tilbyr:
        <ul>
            <li>musikkanlegg</li>
            <li>fleksibel møblering</li>
            <li>matmeny tilpasset deres ønsker (tapas, selskapsmeny, vegansk m.m.)</li>
            <li>bar med alle rettigheter til kl. 03.00</li>
            <li>kapasitet: 35 sitteplasser</li>
        </ul>
    </section>

    <section>Kom innom oss på Grünerløkka for en prat eller kontakt oss på <a href="mailto:post@braud.no">post@braud.no</a>.</section>

    <MyGallery client:load items={images} />
    </main>
</Layout>

<style>
a {
    color: black;
}
ul {
    margin: 0;
}
main {
    display: grid;
    gap: 15px;
}
</style>
