---
import Layout from '../layouts/Layout.astro';
import fs from 'fs'
import path from 'path'

var images = []
var filenames = fs.readdirSync('public/images/leie');

filenames.forEach((filename) => {
    if (['.jpg'].includes(path.extname(filename).toLowerCase())) {
        images.push(`/images/leie/${filename}`);
    }
});
---

<Layout title="Braud toastbar">
    <main>
    <section>Ønsker du å leie Braud toastbar til dine arrangementer? Bursdag, vennefest, bedriftsarrangement, julebord?</section>

    <section>Lei hele eller halve lokalet.</section>

    <section>Lokalet kan lukkes eksklusivt for deres gjester.</section>

    <section>
        Vi tilbyr:
        <ul>
            <li>musikkanlegg</li>
            <li>fleksibel møblering</li>
            <li>matmeny tilpasset deres ønsker (tapas, selskapsmeny, vegansk m.m.)</li>
            <li>bar med alle rettigheter til kl. 02.00</li>
            <li>kapasitet: 65 sitteplasser</li>
        </ul>
    </section>

    <section>Kom innom oss på Grünerløkka for en prat eller kontakt oss på <a href="mailto:post@braud.no">post@braud.no</a>.</section>

    <div class="images">
        {images.map(x =>
            <img src={x}>
        )
        }
    </div>
    </main>
</Layout>

<style>
a {
    color: black;
}
ul {
    margin: 0;
}
main {
    display: grid;
    gap: 15px;
}
.images {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
img {
    max-height: 90vh;
    max-width: 100%;
}
</style>
