---
import Layout from '../layouts/Layout.astro';
---

<Layout client:load title='Braud toastbar'>
    <main>
	  <p>Bestill takeaway for henting på telefon <b>966&nbsp;46&nbsp;315.</b></p>

	  <p>Det er også mulig å bestille via <a href="https://wolt.com/en/nor/oslo/restaurant/braud-toastbar">Wolt</a> eller <a href="https://www.foodora.no/restaurant/v9y7/braud-toastbar">Foodora</a>.</p>
    </main>
</Layout>

<style>
a {
    color: black;
}
</style>
